@charset "utf-8";
body{
    font-family: "궁서", "gungsuh", "sans-serif";
    background-color: black;
    color: white;
}
*{margin: 0; padding: 0;}
h1{
    margin-bottom: 32px;
}
fieldset{
    border: 1px solid white;
    padding: 36px;
    margin: 10px;
}
li{
    margin-bottom: 12px;
}
.tel{
    width: 32px;
}